@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700&display=swap");

/* general */
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

html {
   overflow-x: hidden;
   scroll-behavior: smooth;
}

body {
   font-family: "Poppins", sans-serif;
   line-height: 1;
   font-weight: 400;
   color: #333;
   background-color: #f2f2f2;
   overflow-x: hidden;
}

.container {
   margin: 0 auto;
   padding: 0 2.4rem;
}

.flex {
   display: flex;
   column-gap: 4.8rem;
   row-gap: 4.8rem;
}

/* NAVIGATION */
.header {
   position: fixed;
   z-index: 15;
   width: 100%;
   padding: 0 2.4rem;
   background-color: #fff;
   transition: all 0.3s cubic-bezier(0.4, 0, 0, 1.28);
}

.header.sticky {
   box-shadow: 0 0 1rem rgb(0, 0, 0, 10);
}

.header .logo a {
   font-size: 1.2rem;
   font-weight: 700;
   letter-spacing: -1px;
   text-decoration: none;
   color: #333;
}

.header .main-nav {
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 3rem;
}

.header .main-nav-list {
   display: flex;
   align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited {
   display: inline-block;
   text-decoration: none;
   font-size: 0.8rem;
   padding: 0.5rem 1rem;
   border-radius: 6px;
   font-weight: 500;
   color: #333;
   transition: all 0.1s;
}

.main-nav-link:hover,
.main-nav-link:active {
   outline: 1px solid rgba(153, 153, 253, 100);
   color: rgba(153, 153, 253, 100);
}

.daftar:link,
.daftar:visited {
   margin-left: 1rem;
   color: white;
   background-color: rgba(109, 109, 255, 100);
}

.daftar:hover,
.daftar:active {
   outline: none;
   background-color: rgba(153, 153, 253, 100);
}

/* Mobile nav */
.icon {
   display: none;
   border: none;
   background: none;
   font-size: 1.5rem;
   cursor: pointer;
}

.menu-btn:hover {
   color: rgba(153, 153, 253, 100);
}

/* MAIN HERO */
.main-hero {
   padding: 8.8rem 0 0;
   background-color: #fff;
}

.hero {
   display: flex;
   align-items: flex-end;
}

.heading-primary,
.heading-secondary {
   color: #333;
   letter-spacing: -0.5px;
}

.heading-primary {
   font-size: 2.6rem;
   font-weight: 800;
   line-height: 1.05;
   margin-bottom: 2rem;
}

.hero-text-description {
   line-height: 1.3;
   margin: 1.2rem;
}

.btn,
.btn:link,
.btn:visited {
   display: inline-block;
   text-decoration: none;
   font-weight: 600;
   padding: 0.6rem 1.2rem;
   border-radius: 6px;
   transition: all 0.1s;
   border: none;
   cursor: pointer;
}

.btn--register:link,
.btn--register:visited {
   box-shadow: inset 0 0 0 2px rgba(109, 109, 255, 100);
   background-color: #fdf2e9;
   color: #333;
}

.btn--register:hover,
.btn--register:active {
   box-shadow: none;
   color: white;
   background-color: rgba(153, 153, 253, 100);
}

.margin-right {
   margin-right: 0.8rem;
}

.btn--outline:link,
.btn--outline:visited {
   font-weight: 500;
   box-shadow: inset 0 0 0 2px rgba(153, 153, 253, 100);
   background-color: #fdf2e9;
   color: #333;
}

.btn--outline:hover,
.btn--outline:active {
   background-color: #fff;
}

.hero-img {
   width: 100%;
   height: 100%;
   transform: scale(1.1);
}

.wave {
   position: relative;
   left: 0;
   bottom: 0;
   transform: translateY(5%);
   z-index: 9;
}

/* CARA KERJA */
.procedure {
   padding: 6.4rem 2.4rem 2rem;
}

.procedure-head-section {
   text-align: center;
}
.subheading {
   font-weight: 500;
   color: rgba(109, 109, 255, 0.7);
   text-transform: uppercase;
   letter-spacing: 0.05rem;
   margin-bottom: 0.6rem;
}
.heading-secondary {
   font-size: 1.8rem;
   font-weight: 700;
   line-height: 1.1;
   margin-bottom: 3.2rem;
}

.procedure-content {
   align-items: center;
   margin-bottom: 1.6rem;
}

.procedure-content-img {
   flex-basis: 50%;
}

.procedure-img {
   width: 100%;
   height: 100%;
}

.procedure-number {
   font-size: 2.4rem;
   font-weight: 500;
   color: rgba(109, 109, 255, 0.3);
   margin-bottom: 0.4rem;
}

.heading-tertiary {
   font-size: 1.5rem;
   letter-spacing: 1px;
   font-weight: 600;
   color: #444;
   margin-bottom: 0.4rem;
}

.procedure-content-text {
   flex-basis: 50%;
   padding: 1rem;
   border-radius: 6px;
   box-shadow: -0.1rem 0.1rem 0.15rem 0 rgba(0, 0, 0, 0.2);
}

.procedure-text {
   line-height: 1.5;
   font-weight: 300;
}

/* TESTIMONIAL */
.testimonials {
   padding: 2rem 2.4rem;
   position: relative;
}

.testimonials::after {
   content: "";
   background-color: rgba(109, 109, 255, 0.3);
   position: absolute;
   right: 0;
   left: 0;
   bottom: 0;
   width: 100%;
   height: 50%;
   z-index: -1;
}

.testimonial-box {
   position: relative;
   padding: 2.4rem 2.4rem 0;
   background-color: #fff;
   overflow-x: hidden;
}

.swiper {
   display: flex;
   justify-content: center;
   line-height: 1.2;
   position: relative;
}

.swiper-wrapper {
   margin-bottom: 1.6rem;
   border-radius: 20px;
}

.swiper-slide {
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 400px;
   width: 280px;
   border-radius: 10px 10px 0 0;
   padding: 20px;
   margin-bottom: 20px;
   background-color: rgba(47, 46, 65, 100);
   box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.15);
   overflow: hidden;
   position: relative;
   z-index: 10;
}

.swiper-slide::before {
   content: "";
   top: 0;
   width: 100%;
   height: 40%;
   border-radius: 0 0 10px 10px;
   position: absolute;
   transform: translate(0%, -30%);
   background-color: rgba(153, 153, 153, 0.71);
   z-index: -1;
}

.testimonial-img {
   height: 120px;
   width: 120px;
   border-radius: 50%;
   box-shadow: 0 0 0.2rem 0.1rem rgba(0, 0, 0, 0.25);
}

.testimonial-img img {
   height: 120px;
   width: 120px;
   border-radius: 50%;
   object-fit: cover;
   border: 4px solid #fff;
}

.testimonial-name {
   font-weight: 500;
   color: #fff;
   margin-top: 0.5rem;
}

.testimonial-profession {
   text-align: center;
   margin: 0.5rem 0 1.2rem;
   color: #fff;
}

.testimonial-rating i {
   font-size: 0.8rem;
   margin: 0.1rem;
   color: orange;
}

.testimonial-text {
   font-size: 0.8rem;
   font-weight: 300;
   line-height: 1.3;
   color: #fff;
   text-align: center;
   padding: 0.8rem 0;
}

.swiper-button-next,
.swiper-button-prev {
   color: rgba(0, 0, 0, 0.5);
   opacity: 0.5;
   transition: all 0.3s ease;
   margin: auto;
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
   color: rgba(47, 46, 65, 100);
}

.swiper-button-next {
   right: 0;
}

.swiper-button-prev {
   left: 0;
}

.swiper-pagination-bullet {
   background-color: rgba(0, 0, 0, 0.5);
   opacity: 0.7;
}

/* feature */
.features {
   padding: 4.8rem 0;
   background-color: rgba(109, 109, 255, 0.3);
}
.feature-content-box {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   column-gap: 2.4rem;
}

.feature-content {
   display: flex;
   flex-direction: column;
   text-align: center;
   color: #333;
}

.feature-content i {
   color: #333;
   margin-bottom: 1.6rem;
}

.feature-content-head {
   font-size: 1.2rem;
   font-weight: 700;
   padding-bottom: 0.4rem;
   margin-bottom: 0.8rem;
   border-bottom: 1px solid;
   border-image: linear-gradient(
         to right,
         transparent,
         rgb(52, 73, 94),
         transparent
      )
      1 / 1 / 0 stretch;
}

.feature-content-body {
   line-height: 1.3;
}

/* Pricing */
.pricing {
   padding: 4.8rem 0;
   background-color: rgba(153, 153, 153, 0.71);
}

.pricing-box-content {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 2.4rem;
   margin: 0 6.4rem;
}

.pricing-content {
   display: flex;
   flex-direction: column;
   padding: 1.2rem;
   border-radius: 6px;
   color: rgba(0, 0, 0, 0.38);
   background-color: #eaf6ff;
}

.pricing-content.premium {
   position: relative;
   color: #fff;
   background-color: rgba(47, 46, 65, 100);
}

.ribbon-shape {
   width: 120px;
   height: 120px;
   top: -6px;
   right: -6px;
   overflow: hidden;
   position: absolute;
}

.ribbon-shape::before,
.ribbon-shape::after {
   content: "";
   position: absolute;
   display: block;
   border: 15px solid #2980b9;
   border-top-color: transparent;
   border-right-color: transparent;
   z-index: -1;
}

.ribbon-shape::before {
   top: 0;
   left: 0;
}

.ribbon-shape::after {
   bottom: 0;
   right: 0;
}

.ribbon-shape span {
   position: absolute;
   display: block;
   width: 245px;
   padding: 16px 0;
   background-color: rgba(109, 109, 255, 100);
   box-shadow: 0 5px 10px rgb(0 0 0 / 10%);
   color: #fff;
   text-shadow: 0 1px 1px rgb(0 0 0 / 20%);
   text-transform: uppercase;
   font-weight: 500;
   letter-spacing: 2px;
   text-align: center;
   left: -45px;
   top: 20px;
   transform: rotate(45deg);
}

.pricing-head {
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin-bottom: 1.6rem;
}

.pricing-head.premium {
   color: rgba(153, 153, 153, 100);
}

.price {
   position: relative;
   text-align: center;
   font-size: 3.2rem;
   font-weight: 600;
   margin-bottom: 0.8rem;
}

.price.premium {
   color: orange;
}

.price.premium::before {
   content: "$";
   position: relative;
   text-align: center;
   top: -30px;
   left: 10px;
   transform: translateX(3.4rem);
   font-size: 1.6rem;
}

.year {
   font-size: 0.8rem;
   color: rgba(153, 153, 153, 0.77);
}

.pricing-benefit {
   text-align: center;
   margin-bottom: 2.4rem;
}

.pricing-feature {
   margin-bottom: 2.4rem;
}

.pricing-feature li {
   font-size: 0.8rem;
   list-style: none;
   line-height: 1.5;
}

.pricing-feature li i {
   margin-right: 0.4rem;
}

.btn-pricing {
   text-align: center;
   margin: auto;
   color: #fff;
   background-color: orange;
}

.btn.btn-pricing.premium:hover {
   color: rgba(47, 46, 65, 100);
}

.btn.btn-pricing.free {
   margin: auto auto 0;
   background-color: rgba(0, 0, 0, 0.38);
}

/* FAQ */
.faq {
   padding: 4rem 2.4rem;
   background-color: #eaf6ff;
}

.faq-box {
   display: flex;
   align-items: flex-start;
}

.faq-content {
   flex-basis: 80%;
}

.tab {
   display: flex;
   position: relative;
   flex-direction: column;
   padding: 1rem;
   border-radius: 6px;
   margin-bottom: 0.4rem;
   box-shadow: 0 15px 25px rgba(0, 0, 0, 0.05);
   border-bottom: 2px solid rgba(0, 0, 0, 0.53);
}

.faq .label {
   display: inline-grid;
   grid-template-columns: 1fr 12fr;
   align-items: center;
   padding-right: 2.4rem;
   margin: 0.2rem 0;
   cursor: pointer;
   position: relative;
}

.faq .label::after {
   content: ">";
   position: absolute;
   font-size: 1.4rem;
   right: 0;
   color: rgba(0, 0, 0, 0.24);
   transition: transform 0.2s;
}

.label.active.label::after {
   transform: rotate(90deg);
}

.tab-number {
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   font-size: 0.8rem;
   width: 30px;
   height: 30px;
   color: rgba(255, 255, 255, 0.73);
   background-color: rgba(51, 51, 51, 0.79);
}

.tab-question {
   font-weight: 500;
}

.tab-answer {
   max-height: 0;
   overflow: hidden;
   transition: max-height 0.2s ease-out;
}

.tab-answer p,
.step {
   font-size: 0.9rem;
   font-weight: 400;
   padding: 1rem;
   line-height: 1.5;
   border-top: 1px solid;
   border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

.step li {
   margin-bottom: 0.4rem;
}

/* footer */
.footer {
   border-top: 2px solid #333;
   padding-top: 3.2rem;
   background-color: #eaf6ff;
}

.footer-box {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   text-align: center;
   margin-bottom: 3.2rem;
}

.footer-head {
   margin-bottom: 1.4rem;
   font-weight: 500;
}

.social-media-list {
   display: flex;
   list-style: none;
   column-gap: 1.2rem;
   justify-content: center;
}

.social-media-list li a {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 30px;
   height: 30px;
   border-radius: 15px;
   text-decoration: none;
   color: rgb(0, 0, 0, 0.38);
   background-color: #fff;
   box-shadow: 5px 5px 10px rgb(9 148 255 / 25%),
      -2px -2px 5px rgb(9 148 255 / 5%),
      inset -2px -2px 5px rgb(9 148 255 / 25%);
}

.social-media-list li a:hover {
   color: rgb(233 30 98);
}

.email-link {
   text-decoration: none;
   font-size: 0.8rem;
   color: #333;
}

.email-link:hover {
   color: #333;
}

.email-link > i {
   color: rgb(0, 0, 0, 0.38);
}

.resource {
   list-style: none;
}

.resource-link {
   text-decoration: none;
   font-size: 0.8rem;
   line-height: 1.3;
   color: #333;
}

.resource-link:hover {
   color: #333;
}

.copyright {
   font-size: 0.7rem;
   padding: 0.8rem;
}

/* 2560px */
@media screen and (max-width: 160em) {
   /* 2560px : 16px = 160 */
   html {
      font-size: 125%; /* 20px */
   }

   .container {
      max-width: 55rem;
   }

   .hero-text-box {
      flex-basis: 50%;
      text-align: center;
      position: relative;
      z-index: 10;
   }

   .hero-img-box {
      flex-basis: 50%;
      position: relative;
      z-index: 10;
   }

   .hero {
      gap: 6.4rem;
   }
}

/* 1440 */
@media screen and (max-width: 90em) {
   html {
      font-size: 100%; /* 16px */
   }

   .hero {
      gap: 2.4rem;
   }

   .swiper-slide {
      height: 370px;
   }
}

/* 1024px */
@media screen and (max-width: 64em) {
   .flex {
      column-gap: 2.4rem;
   }

   .main-hero {
      text-align: center;
   }

   .hero {
      gap: 3.2rem;
      flex-direction: column;
   }

   .hero-text-description {
      margin: 1.2rem 4rem;
   }

   .hero-img {
      width: 70%;
   }

   .procedure-head-section {
      text-align: left;
   }

   .procedure-content {
      margin-bottom: 2.4rem;
   }

   .feature-content-box {
      column-gap: 1.6rem;
   }

   .feature-content-head {
      font-size: 1rem;
   }

   .pricing-box-content {
      margin: 0 2.4rem;
   }

   .faq {
      padding: 3.2rem 0;
   }

   .faq-box {
      column-gap: 2.4rem;
   }

   .faq .label {
      grid-template-columns: 1fr 10fr;
   }
}

/* 768px */
@media screen and (max-width: 48em) {
   .container {
      padding: 1.2rem 1.2rem;
   }

   .flex {
      row-gap: 1rem;
   }

   .header {
      padding: 0 1.2rem;
   }

   /* mobile nav */
   .icon {
      display: block;
   }

   .header .main-nav-list {
      position: fixed;
      height: 70vh;
      width: 100%;
      max-width: 15rem;
      left: -15rem;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 3rem 0;
      padding-bottom: 6rem;
      border-radius: 0 10px 10px 0;
      background-color: rgba(47, 46, 65, 100);
      transition: all 0.3s ease;
   }

   .hide {
      display: none;
   }

   .show .main-nav-list {
      left: 0;
   }

   .close-btn {
      position: relative;
      transform: translate(350%, 25%);
      color: red;
      width: 28px;
      height: 28px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
   }

   .close-btn:hover {
      color: #333;
      border-bottom: none;
   }

   .header .main-nav-list .main-nav-link {
      margin-top: 1.2rem;
   }

   .main-nav-list .main-nav-link {
      font-size: 0.8rem;
      padding: 0.5rem 1.4rem;
      color: #fff;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
   }

   .main-nav-list .main-nav-link.daftar {
      margin-left: 0;
      background-color: rgba(153, 153, 253, 100);
   }

   .main-nav-list .main-nav-link.daftar:hover {
      background-color: rgba(153, 153, 253, 0.4);
   }

   .heading-primary {
      font-size: 2.2rem;
   }

   .procedure {
      padding: 3.2rem 2.4rem 1.2rem;
   }

   .heading-secondary {
      font-size: 1.5rem;
   }

   .procedure-content {
      flex-wrap: wrap;
      margin-bottom: 2.4rem;
   }

   .procedure-content.middle {
      flex-wrap: wrap-reverse;
      flex-direction: row-reverse;
   }

   .procedure-number {
      font-size: 2.2rem;
   }

   .procedure-content-text {
      flex-basis: 100%;
   }

   .procedure-text {
      line-height: 1.2;
   }

   .testimonials {
      padding: 0;
   }

   .testimonial-row {
      flex-wrap: wrap;
   }

   .testimonial-content {
      margin-bottom: 2.6rem;
   }

   .testimonial-img {
      margin-bottom: 0.6rem;
   }

   .swiper-button-next,
   .swiper-button-prev {
      display: none;
   }

   .features {
      padding: 4.8rem 0 0;
   }

   .feature-content-box {
      grid-template-columns: 1fr;
      margin: 0 4rem;
   }

   .feature-content {
      margin-bottom: 2.4rem;
   }

   .feature-content i {
      margin-bottom: 0.6rem;
   }

   .pricing {
      padding: 3.2rem 0;
   }

   .pricing-box-content {
      grid-template-columns: 1fr;
      width: 20rem;
      margin: auto;
   }

   .faq {
      padding: 3.2rem 0;
      flex-direction: column;
      row-gap: 1.2rem;
   }

   .faq-box {
      flex-direction: column;
      gap: 2.4rem;
      align-items: center;
   }

   .footer .container {
      padding: 0 0.8rem;
   }
}

/* 524 */
@media screen and (max-width: 32.81em) {
   .swiper {
      margin: 0 3.2rem;
   }

   .heading-secondary {
      margin-bottom: 2.4rem;
   }

   .faq .label {
      grid-template-columns: 1fr 7fr;
   }

   .footer-box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 1.6rem;
   }

   .social-media {
      grid-row: 3/4;
      grid-column: 1/-1;
   }

   .footer-head {
      margin-bottom: 0.6rem;
   }
}

/* 432 */
@media screen and (max-width: 27em) {
   .container {
      padding: 1.2rem 1.2rem;
   }

   .header {
      padding: 0 1.2rem;
   }

   .procedure {
      padding: 2.4rem 1.2rem;
   }

   .testimonials {
      padding: 2.4rem 1.2rem;
   }

   .pricing-box-content {
      width: 17rem;
   }

   .swiper {
      margin: 0;
   }

   .feature-content-box {
      margin: 0;
   }

   .faq .label {
      grid-template-columns: 1fr 5fr;
   }
}

/* 374,4px */
@media screen and (max-width: 23.4em) {
   .main-hero {
      padding: 6.4rem 0 0;
   }

   .hero-text-description {
      margin: 1.2rem 0;
   }

   .testimonials {
      padding: 0;
   }

   .faq-box {
      margin-bottom: 3rem;
   }

   .footer-box {
      flex-direction: column;
      gap: 1.6rem;
      text-align: left;
   }

   .footer-head {
      margin-bottom: 0.6rem;
   }

   .social-media-list {
      justify-content: left;
   }
}
